body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 13);
  color: black;
}

h1  {
  margin-left: 40px;
  margin-bottom: 5px;
}

Textarea  {
  padding: 10px;
  margin: 10px;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  height: 50px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  a:hover {
    color: pink;
  }
  a:link {
    text-decoration: none;
  }
}
.posts-layout {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.newInput {
  border-radius: 5px;
  padding: 4px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover_url  {
  width: 70%;
  height: 350px;
  margin: 10px;
}

.post-text  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  background-color: white;
  input {
    align-self: center;
  }
}

.username {
  padding-left: 30px;
}

.title, .tags, .content {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 3px solid;
  border-color: rgb(125, 173, 173);
  border-radius: 5px;
  margin: 5px;
  p {
    max-width: 65%;
  }
}

.title  {
  font-size: 40px;
}

.posts-layout  {
  display: flex;
  justify-content: center;
  .link  {
    text-decoration: none !important;
    color: rgb(97, 123, 215);
  }
  .link:hover {
    color: rgb(24, 134, 58);
  }
}

.preview_post {
  background-color: rgb(255, 255, 255);
  width: 280px;
  margin: 10px;
}

.preview_title  {
  font-size: 24px;
  padding-left: 10px;
}
.preview_tags {
  padding-left: 10px;
  padding-bottom: 20px;
}

img {
  width: 280px;
  align-self: center;
  object-fit: contain;
}

input {
  width: 100vh;
  height: 23px;
  margin: 30px;
}
.edit {
  width: 400px;
}

.active {
  color: rgb(16, 87, 181);
}

.link  {
  text-decoration: none;
}


button  {
  margin-left: 30px;
  padding: 8px;
  background-color: rgb(46, 173, 139);
  border: solid;
  border-radius: 3px;
  color: black;
}
